@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.header {
  position: relative;
}

.header__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.header__logo {
  position: absolute;
  top: -5px;
  left: 0;
  margin-left: 8.2142%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-right: 8.2142%;
}

.menu__iconspan {
  width: 15px;
  height: 2px;
  background-color: #ffffff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  position: relative;
  font-size: 18px;
  font-family: "Raleway";
  color: #eee;
  text-transform: uppercase;
  line-height: 2.7;
  text-align: center;
  padding: 20px 30px;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 66%;
  width: 30%;
  height: 3px;
  margin-left: -30%;
  background: #ff2d44;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 66%;
  width: 30%;
  height: 3px;
  margin-left: -30%;
  background: #ff2d44;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__link:hover::after, .menu__link:hover::before {
  opacity: 1;
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
  }
  .icon-menu span {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}

.slider__item {
  min-height: 100vh;
  position: relative;
  text-align: center;
  color: #fff;
}

.slider__item img {
  width: 100%;
  height: 100vh;
}

.slider__content {
  position: absolute;
  top: 35%;
  margin: 0 21%;
}

.slider__item-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.slider__item-title span {
  color: #ff2d44;
}

.slider__item-text {
  padding: 50px 0;
  font-size: 16px;
  line-height: 1.5;
}

.slider__item-btn {
  margin: 0 20px;
  padding: 15px 45px;
  background-color: #131313;
  color: #fff;
  font-size: 20px;
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 1.2;
}

.slider__item-btn:hover {
  background-color: #ff2d44;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 30px;
  color: #262626;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.about__title span {
  color: #ff2d44;
}

.about__subtitle {
  padding-bottom: 100px;
  font-size: 16px;
  font-family: "Lato";
  color: #505050;
  font-weight: bold;
  line-height: 1.375;
  text-align: center;
}

.about__subtitle span {
  color: #ff2d44;
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
}

.about__text {
  padding-bottom: 45px;
  font-size: 16px;
  color: #989898;
  line-height: 1.375;
  text-align: justify;
  font-weight: 600;
}

.about__image {
  margin-left: 15px;
}

.about__line {
  position: relative;
  text-align: center;
}

.about__line::before {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #262626;
  position: absolute;
  top: 50%;
  right: 31.5%;
}

.about__line::after {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #262626;
  position: absolute;
  top: 50%;
  left: 31.5%;
}

.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0;
}

.about__bottom-item {
  text-align: justify;
  text-align-last: center;
  margin-right: 35px;
}

.about__bottom-item:last-child {
  margin: 0;
}

.about__bottom-link {
  display: block;
  background-color: transparent;
  z-index: 999;
}

.about__bottom-link:hover .about__bottom-stroke {
  fill: #ff2d44;
  stroke: #ff2d44;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about__bottom-image {
  position: relative;
}

.about__bottom-stroke {
  fill: #fff;
  stroke: #000;
}

.about__bottom-icon {
  position: absolute;
  left: 44%;
  top: 30%;
}

.about__bottom-icon:first-child {
  left: 45%;
  top: 36%;
}

.about__bottom-title {
  margin: 30px 0;
  font-size: 20px;
  font-family: "Raleway";
  color: #262626;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
}

.about__bottom-text {
  text-align: center;
  font-size: 16px;
  color: #505050;
  line-height: 1.375;
}

.spoiler__item {
  padding-bottom: 10px;
}

.spoiler__title {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  color: #262626;
  line-height: 1.5;
}

.spoiler__title.active span {
  color: #fe254b;
}

.spoiler__title::before, .spoiler__title::after {
  content: "";
  width: 10px;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spoiler__title::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 10px;
}

.spoiler__title::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 17px;
}

.spoiler__title.active::before, .spoiler__title.active::after {
  background-color: #fe254b;
}

.spoiler__title.active::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.spoiler__title.active::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spoiler__title span {
  display: block;
  padding: 5px 0 5px 20px;
  margin-left: 7%;
  width: 93%;
  background: #f7f7f7;
  border-left: 1px solid #e7e7e7;
}

.spoiler__text {
  display: none;
  padding: 15px;
  font-size: 14px;
  color: #888888;
  line-height: 1.6;
  font-weight: 600;
  text-align: justify;
}

.main__portfolio {
  background-color: #262626;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 115px 0;
}

.portfolio__title {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.portfolio__btn {
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #262626;
  color: #a4a4a4;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.375;
  cursor: pointer;
}

.portfolio__btn:hover {
  color: #f50235;
}

.portfolio__btn:active, .portfolio__btn.is-checked {
  color: #f50235;
}

.portfolio__btn:active {
  color: #f50235;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.element-item {
  cursor: pointer;
}

.element-item:hover {
  opacity: 0.8;
}

.product__line {
  margin-top: -10px;
  position: relative;
  text-align: center;
}

.product__line::before {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  right: 31.5%;
}

.product__line::after {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  left: 31.5%;
}

.product__dot {
  fill: #ff0036;
}

.product__title {
  margin-top: 100px;
  margin-bottom: 55px;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.product__title span {
  color: #ff0036;
}

.product__subtitle {
  font-size: 16px;
  color: #505050;
  font-weight: bold;
  line-height: 1.375;
  text-align: center;
}

.product__subtitle span {
  color: #ff0036;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.product__item {
  position: relative;
}

.product__link {
  position: absolute;
  left: 34%;
  bottom: 10%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.product__link a {
  padding: 15px 40px;
  background-color: #393939;
  color: #fff;
}

.product__link :hover {
  background-color: #fff;
  color: #393939;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.product__list :nth-child(3) {
  margin-bottom: 100px;
}

.product__list_right {
  text-align: left;
}

.product__list_right span {
  white-space: nowrap;
  padding-left: 10px;
}

.product__list-item {
  border: 1px solid #000;
  margin-bottom: 25px;
}

.product__list-item :hover {
  background-color: #ff0036;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__list-link {
  display: block;
  white-space: nowrap;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
}

.product__list-link span {
  padding-right: 10px;
  line-height: 1.6;
  vertical-align: bottom;
}

.main__clients {
  padding: 100px 0;
  background: url(../img/clients/clients-bg.png) no-repeat center center;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8) inset;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.clients__title span {
  color: #ff0036;
}

.clients__subtitle {
  margin-bottom: 95px;
  font-size: 16px;
  color: #a4a4a4;
  font-weight: bold;
  line-height: 1.375;
  text-align: center;
}

.clients__subtitle span {
  color: #ff0036;
}

.clients__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__testimonials {
  width: 50%;
  text-align: center;
}

.clients__gallery {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials__title {
  padding-bottom: 50px;
  font-size: 20px;
  color: #f5f5f5;
  text-transform: uppercase;
  line-height: 1.2;
}

.testimonials__text {
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Lato";
  color: #a4a4a4;
  line-height: 1.4;
}

.testimonials__user {
  padding-bottom: 18px;
}

.testimonials__user-name {
  font-size: 16px;
  font-family: "Raleway";
  color: #ff0036;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery__item {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  height: 40%;
  background: #f6f6f6;
  margin: 15px;
  text-align: center;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8) inset;
}

.gallery__item a:hover {
  -webkit-box-shadow: 0px 0px 50px 0px white inset;
          box-shadow: 0px 0px 50px 0px white inset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 35px 0;
}

.gallery__link span {
  padding-left: 5px;
  font-size: 24px;
  font-weight: 500;
  color: #292626;
  line-height: 1;
  text-align: left;
}

.main__team {
  text-align: center;
}

.team__line {
  margin-top: -10px;
  position: relative;
  text-align: center;
}

.team__line::before {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  right: 31.5%;
}

.team__line::after {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  left: 31.5%;
}

.team__dot {
  fill: #ff0036;
}

.team__title {
  padding: 90px 0 50px 0;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
}

.team__title span {
  color: #ff0036;
}

.team__subtitle {
  font-size: 16px;
  color: #505050;
  font-weight: 700;
  line-height: 1.375;
  text-align: center;
}

.team__subtitle span {
  color: #ff0036;
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 100px 0;
}

.team__body :first-child {
  margin-left: 0;
}

.team__body :last-child {
  margin-right: 0;
}

.team__body :hover .team__social,
.team__body :hover .team__name {
  opacity: 1;
  color: #ff0036;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team__item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.team__photo {
  position: relative;
}

.team__social {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(57, 57, 57, 0.8);
}

.team__social :nth-child(2) {
  margin: auto 5px;
}

.team__link {
  display: inline-block;
  margin: 35% auto;
}

.team__name {
  padding: 30px 0;
  font-size: 20px;
  font-family: "Raleway";
  color: #262626;
  text-transform: uppercase;
  font-weight: 500;
}

.team__work {
  padding-bottom: 35px;
  font-size: 16px;
  font-family: "Lato";
  color: #505050;
  line-height: 1.375;
  font-weight: 500;
}

.main__skills {
  text-align: center;
}

.skills__line {
  position: relative;
  text-align: center;
}

.skills__line::before {
  content: "";
  width: 18.5%;
  height: 1px;
  background-color: #262626;
  position: absolute;
  top: 50%;
  right: 31.5%;
}

.skills__line::after {
  content: "";
  width: 18.5%;
  height: 1px;
  background-color: #262626;
  position: absolute;
  top: 50%;
  left: 31.5%;
}

.skills__title {
  padding: 90px 0 50px 0;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
}

.skills__title span {
  color: #ff0036;
}

.skills__subtitle {
  font-size: 16px;
  color: #505050;
  font-weight: 700;
  line-height: 1.375;
  text-align: center;
}

.skills__subtitle span {
  color: #ff0036;
}

.skills__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
  padding: 100px 0;
}

.box h2 {
  padding: 25px 0;
  font-size: 20px;
  font-family: "Raleway";
  color: #262626;
  font-weight: 600;
  text-transform: uppercase;
}

.box p {
  font-size: 16px;
  font-family: "Lato";
  color: #505050;
  font-weight: 500;
}

.container .box {
  width: 25%;
  float: left;
}

.container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.container .box .chart {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  line-height: 150px;
}

.container .box .chart span {
  color: #ff0036;
}

.main__services {
  padding: 100px 0;
  background: #272727;
  text-align: center;
}

.services__title {
  margin-bottom: 50px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}

.services__title span {
  color: #ff0036;
}

.services__subtitle {
  margin-bottom: 95px;
  font-size: 16px;
  color: #a4a4a4;
  font-weight: bold;
  line-height: 1.375;
}

.services__subtitle span {
  color: #ff0036;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.services__list :hover .services__item-text,
.services__list :hover .services__item-title path {
  background: #3d2329;
  color: #fff;
  fill: #ff0036;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__item {
  -ms-flex-preferred-size: 48.5%;
      flex-basis: 48.5%;
}

.services__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 30px;
  padding-top: 60px;
  font-size: 20px;
  font-family: "Raleway";
  color: #ffffff;
  text-transform: uppercase;
}

.services__item-title span {
  padding-left: 35px;
}

.services__item-title img {
  position: absolute;
  left: 3%;
}

.services__item-text {
  padding: 30px 35px;
  background: #343434;
  font-size: 16px;
  font-family: "Lato";
  color: #a4a4a4;
  line-height: 1.375;
  text-align: justify;
}

.main__shop {
  text-align: center;
}

.shop__line {
  margin-top: -10px;
  position: relative;
  text-align: center;
}

.shop__line::before {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  right: 31.5%;
}

.shop__line::after {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  left: 31.5%;
}

.shop__dot {
  fill: #ff0036;
}

.shop__title {
  padding: 100px 0 50px 0;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
}

.shop__title span {
  color: #ff0036;
}

.shop__subtitle {
  font-size: 16px;
  color: #505050;
  font-weight: 700;
  line-height: 1.375;
  text-align: center;
}

.shop__subtitle span {
  color: #ff0036;
}

.shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.shop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  font-size: 16px;
  font-family: "Lato";
  color: #262626;
  line-height: 3;
  font-weight: 600;
}

.shop__item:hover .item__link,
.shop__item:hover .item__price {
  background-color: #f50235;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item__title {
  background-color: #262626;
  font-size: 20px;
  font-family: "Raleway";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 2;
}

.item__price {
  background-color: #f2f2f2;
  font-weight: 700;
  line-height: 1.5;
}

.item__price span {
  font-size: 50px;
}

.item__cpu {
  border: 1px solid #e7e7e7;
}

.item__hdd {
  border: 1px solid #e7e7e7;
}

.item__ram {
  border: 1px solid #e7e7e7;
}

.item__traffic {
  border: 1px solid #e7e7e7;
}

.item__connect {
  border: 1px solid #e7e7e7;
}

.item__ip {
  border: 1px solid #e7e7e7;
}

.item__btn {
  padding: 20px;
  border: 1px solid #e7e7e7;
}

.item__link {
  padding: 12px 50px;
  background-color: #262626;
  font-size: 18px;
  font-family: "Raleway";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.main__twit {
  background-color: #272727;
  text-align: center;
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.twit__image-big {
  position: absolute;
  bottom: -2%;
  left: 2%;
}

.twit__icon {
  margin-bottom: 30px;
}

.twit__text {
  margin: 0 32%;
  font-size: 16px;
  font-family: "Lato";
  color: #ffffff;
  line-height: 1.375;
  font-weight: 500;
}

.main__blog {
  text-align: center;
}

.blog__line {
  margin-top: -10px;
  position: relative;
  text-align: center;
}

.blog__line::before {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  right: 31.5%;
}

.blog__line::after {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  left: 31.5%;
}

.blog__dot {
  fill: #ff0036;
}

.blog__title {
  padding: 100px 0 50px 0;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
}

.blog__title span {
  color: #ff0036;
}

.blog__subtitle {
  font-size: 16px;
  color: #505050;
  font-weight: 700;
  line-height: 1.375;
  text-align: center;
}

.blog__subtitle span {
  color: #ff0036;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  text-align: left;
}

.blog__item:first-child {
  margin-bottom: 50px;
}

.blog__item:hover .blog__item-link {
  background: #f50235;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog__item:hover .blog__item-image {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog__item-image {
  float: left;
  padding-right: 30px;
}

.blog__item-title {
  font-size: 20px;
  font-family: "Raleway";
  color: #2e2e2e;
  font-weight: bold;
}

.blog__item-subtitle {
  padding: 23px 0;
  font-size: 12px;
  font-family: "Lato";
  color: #a2a2a2;
}

.blog__item-subtitle img {
  padding-right: 5px;
}

.blog__item-user {
  padding-right: 23px;
}

.blog__item-comment {
  padding-right: 23px;
}

.blog__item-text {
  padding-bottom: 35px;
  font-size: 16px;
  font-family: "Lato";
  color: #505050;
  text-align: justify;
}

.blog__item-link {
  padding: 15px;
  background: #262626;
  font-size: 16px;
  font-family: "Lato";
  color: #ffffff;
  text-transform: uppercase;
}

.main__social {
  padding: 100px 0;
  background: url(../img/social/social-bg.png);
  background-size: cover;
  text-align: center;
}

.social__title {
  margin-bottom: 50px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}

.social__title span {
  color: #ff0036;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon {
  padding: 0 25px;
}

.social__link:hover .social__icon-svg path {
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__link:hover .social__icon-bg path {
  fill-opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__image {
  position: relative;
}

.social__icon-svg {
  position: absolute;
  left: 40%;
  top: 35%;
}

.social__subscribes {
  padding-top: 40px;
  font-size: 16px;
  font-family: "Lato";
  color: #ffffff;
  line-height: 1.375;
}

.main__contacts {
  text-align: center;
}

.product__line {
  margin-top: -10px;
  position: relative;
  text-align: center;
}

.product__line::before {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  right: 31.5%;
}

.product__line::after {
  content: "";
  width: 18.5%;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  top: 45%;
  left: 31.5%;
}

.product__dot {
  fill: #ff0036;
}

.contacts__title {
  padding: 100px 0 50px 0;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
}

.contacts__title span {
  color: #ff0036;
}

.contacts__subtitle {
  padding-bottom: 100px;
  font-size: 16px;
  color: #505050;
  font-weight: 700;
  line-height: 1.375;
  text-align: center;
}

.contacts__subtitle span {
  color: #ff0036;
}

.contacts__map {
  position: relative;
  overflow: hidden;
}

.contacts__text {
  padding: 35px 100px 50px 25px;
  position: absolute;
  left: 20%;
  top: 50%;
  background-color: #262626;
  color: #fff;
  font-size: 16px;
  font-family: "Myriad Pro";
  text-align: left;
  line-height: 1.5;
}

.contacts__text::after {
  content: "";
  position: absolute;
  right: 80px;
  bottom: -90px;
  border: 10px solid transparent;
  border-top: 10px solid #262626;
  -webkit-transform: skew(-30deg, 0) scale(1, 8);
          transform: skew(-30deg, 0) scale(1, 8);
}

.contacts__form {
  position: absolute;
  width: 25%;
  height: 83%;
  bottom: 0;
  left: 57%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-family: "Lato";
  color: #505050;
  line-height: 1.563;
}

.form__title {
  padding: 50px 0 50px 10%;
  font-size: 20px;
  font-family: "Raleway";
  color: #262626;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 500;
  text-align: left;
}

.form__name {
  width: 80%;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  margin-bottom: 18px;
}

.form__email {
  width: 80%;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  margin-bottom: 18px;
}

.form__subject {
  width: 80%;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  margin-bottom: 18px;
}

.form__textarea {
  width: 80%;
  border: 1px solid #e7e7e7;
}

.form__button {
  text-align: right;
  margin-top: 18px;
}

.form__btn {
  background: #262626;
  padding: 15px 30px;
  margin-right: 10%;
  font-size: 16px;
  font-family: "Lato";
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262626;
}

.footer__bite {
  visibility: hidden;
}

.footer__logo {
  padding: 30px 0;
}

.footer__design {
  padding-right: 40px;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e;
  line-height: 1.6;
  font-weight: 600;
}

.footer__design a {
  color: #8e8e8e;
}
/*# sourceMappingURL=style.css.map */