// Переменные
$minwidth: 320px;
$fontfamily: "Lato", sans-serif;

// Обнуление
@import "null.scss";

// Шрифт по умолчанию
body {
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
}

// Основная сетка
.container {
  max-width: 1170px;
  margin: 0 auto;
}

// Заголовки
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

// SLICK-SLIDER STYLE===================
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}
//======================================

.header {
  position: relative;
  &__row {
    width: 100%;
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
  }
  &__logo {
    position: absolute;
    top: -5px;
    left: 0;
    margin-left: 8.2142%;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8.2142%;
  }
}

.menu {
  &__icon {
    &span {
      width: 15px;
      height: 2px;
      background-color: #ffffff;
    }
  }
  &__list {
    display: flex;
  }
  &__link {
    position: relative;
    font-size: 18px;
    font-family: "Raleway";
    color: #eee;
    text-transform: uppercase;
    line-height: 3.5;
    text-align: center;
    padding: 20px 30px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 66%;
      width: 30%;
      height: 3px;
      margin-left: -30%;
      background: #ff2d44;
      opacity: 0;
      transition: all 0.4s ease;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 66%;
      width: 30%;
      height: 3px;
      margin-left: -30%;
      background: #ff2d44;
      opacity: 0;
      transition: all 0.4s ease;
    }
    &:hover::after,
    &:hover::before {
      opacity: 1;
    }
  }
}
.icon-menu {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
    span {
      transition: 0.3s ease;
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        transform: scale(0);
        background-color: #fff;
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}

.slider {
  &__item {
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
  }
  &__content {
    position: absolute;
    top: 35%;
    margin: 0 21%;
  }
  &__item-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    span {
      color: #ff2d44;
    }
  }
  &__item-text {
    padding: 50px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  &__item-btn {
    margin: 0 20px;
    padding: 15px 45px;
    background-color: #ff2d44;
    color: #fff;
    font-size: 20px;
    font-family: "Raleway";
    text-transform: uppercase;
    line-height: 1.2;
    &:last-child {
      background-color: #131313;
    }
  }
}

.about {
  &__title {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
    color: rgb(38, 38, 38);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    span {
      color: #ff2d44;
    }
  }
  &__subtitle {
    padding-bottom: 100px;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(80, 80, 80);
    font-weight: bold;
    line-height: 1.375;
    text-align: center;
    span {
      color: #ff2d44;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }
  &__text {
    padding-bottom: 45px;
    font-size: 16px;
    color: #989898;
    line-height: 1.375;
    text-align: justify;
    font-weight: 600;
  }
  &__image {
    margin-left: 15px;
  }
  &__line {
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #262626;
      position: absolute;
      top: 50%;
    }
    &::after {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #262626;
      position: absolute;
      top: 50%;
      left: 31.5%;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
  }
  &__bottom-item {
    text-align: justify;
    text-align-last: center;
    margin-right: 35px;
    &:last-child {
      margin: 0;
    }
  }
  &__bottom-link {
    display: block;
    background-color: transparent;
    z-index: 999;
    &:hover .about__bottom-stroke {
      fill: #ff2d44;
      stroke: #ff2d44;
    }
  }
  &__bottom-image {
    position: relative;
  }
  &__bottom-stroke {
    fill: #fff;
    stroke: #000;
  }
  &__bottom-icon {
    position: absolute;
    left: 44%;
    top: 30%;
    &:first-child {
      left: 45%;
      top: 36%;
    }
  }
  &__bottom-title {
    margin: 30px 0;
    font-size: 20px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
  }
  &__bottom-text {
    text-align: center;
    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 1.375;
  }
}
.spoiler {
  &__item {
    padding-bottom: 10px;
  }
  &__title {
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-family: "Raleway";
    font-weight: 500;
    color: #262626;
    line-height: 1.5;
    &.active span {
      color: #fe254b;
    }
    &::before,
    &::after {
      content: "";
      width: 10px;
      height: 3px;
      background-color: #262626;
      position: absolute;
      top: 18px;
      transition: all 0.3s ease 0s;
    }
    &::before {
      transform: rotate(40deg);
      left: 10px;
    }
    &::after {
      transform: rotate(-40deg);
      left: 17px;
    }
    &.active::before,
    &.active::after {
      background-color: #fe254b;
    }
    &.active::before {
      transform: rotate(-40deg);
    }
    &.active::after {
      transform: rotate(40deg);
    }
    span {
      display: block;
      padding: 5px 0 5px 20px;
      margin-left: 7%;
      width: 93%;
      background: #f7f7f7;
      border-left: 1px solid #e7e7e7;
    }
  }
  &__text {
    display: none;
    padding: 15px;
    font-size: 14px;
    color: #888888;
    line-height: 1.6;
    font-weight: 600;
    text-align: justify;
  }
}

.main__portfolio {
  background-color: #262626;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 115px 0;
}
.portfolio {
  &__title {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }
}
.button-group {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.portfolio__btn {
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #262626;
  color: #a4a4a4;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.375;
  cursor: pointer;
  &:hover {
    color: #f50235;
  }
  &:active,
  &.is-checked {
    color: #f50235;
  }
  &:active {
    color: #f50235;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

.product {
  &__line {
    margin-top: -10px;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #ff0036;
      position: absolute;
      top: 45%;
    }
    &::after {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #ff0036;
      position: absolute;
      top: 45%;
      left: 31.5%;
    }
  }
  &__dot {
    fill: #ff0036;
  }
  &__title {
    margin-top: 100px;
    margin-bottom: 55px;
    font-size: 30px;
    color: rgb(38, 38, 38);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    span {
      color: #ff0036;
    }
  }
  &__subtitle {
    font-size: 16px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    line-height: 1.375;
    text-align: center;
    span {
      color: #ff0036;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
  &__item {
    position: relative;
  }
  &__link {
    position: absolute;
    left: 34%;
    bottom: 10%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    a {
      padding: 15px 40px;
      background-color: #393939;
      color: #fff;
    }
    :hover {
      background-color: #fff;
      color: #393939;
      transition: 0.3s;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    text-align: right;
    :nth-child(3) {
      margin-bottom: 100px;
    }
  }
  &__list_right {
    text-align: left;
    span {
      white-space: nowrap;
      padding-left: 10px;
    }
  }
  &__list-item {
    border: 1px solid #000;
    margin-bottom: 25px;
    :hover {
      background-color: #ff0036;
      color: #fff;
      transition: 0.5s;
    }
  }
  &__list-link {
    display: block;
    white-space: nowrap;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    span {
      padding-right: 10px;
      line-height: 1.6;
      vertical-align: bottom;
    }
  }
}

.main__clients {
  padding: 100px 0;
  background: url(../img/clients/clients-bg.png) no-repeat center center;
  background-size: cover;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8) inset;
}
.clients {
  &__title {
    margin-bottom: 50px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    span {
      color: #ff0036;
    }
  }
  &__subtitle {
    margin-bottom: 95px;
    font-size: 16px;
    color: #a4a4a4;
    font-weight: bold;
    line-height: 1.375;
    text-align: center;
    span {
      color: #ff0036;
    }
  }
  &__body {
    display: flex;
  }
  &__testimonials {
    width: 50%;
    text-align: center;
  }
  &__gallery {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.testimonials {
  &__title {
    padding-bottom: 50px;
    font-size: 20px;
    color: #f5f5f5;
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__text {
    padding-bottom: 50px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Lato";
    color: #a4a4a4;
    line-height: 1.4;
  }
  &__user {
    padding-bottom: 18px;
  }
  &__user-name {
    font-size: 16px;
    font-family: "Raleway";
    color: #ff0036;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.gallery {
  &__item {
    flex-basis: 44%;
    height: 40%;
    background: #f6f6f6;
    margin: 15px;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8) inset;
    a:hover {
      box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1) inset;
      transition: 0.3s;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 35px 0;
    span {
      padding-left: 5px;
      font-size: 24px;
      font-weight: 500;
      color: #292626;
      line-height: 1;
      text-align: left;
    }
  }
}

.main {
  &__team {
    text-align: center;
  }
}
.team {
  &__line {
    margin-top: -10px;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #ff0036;
      position: absolute;
      top: 45%;
    }
    &::after {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #ff0036;
      position: absolute;
      top: 45%;
      left: 31.5%;
    }
  }
  &__dot {
    fill: #ff0036;
  }
  &__title {
    padding: 90px 0 50px 0;
    font-size: 30px;
    color: #262626;
    font-weight: 700;
    span {
      color: #ff0036;
    }
  }
  &__subtitle {
    font-size: 16px;
    color: #505050;
    font-weight: 700;
    line-height: 1.375;
    text-align: center;
    span {
      color: #ff0036;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 100px 0;
    :first-child {
      margin-left: 0;
    }
    :last-child {
      margin-right: 0;
    }
    :hover .team__social,
    :hover .team__name {
      opacity: 1;
      color: #ff0036;
      transition: 0.4s;
    }
  }
  &__item {
    flex-basis: 23%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__photo {
    position: relative;
  }
  &__social {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(57, 57, 57, 0.8);
    :nth-child(2) {
      margin: auto 5px;
    }
  }
  &__link {
    display: inline-block;
    margin: 35% auto;
  }
  &__name {
    padding: 30px 0;
    font-size: 20px;
    font-family: "Raleway";
    color: #262626;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__work {
    padding-bottom: 35px;
    font-size: 16px;
    font-family: "Lato";
    color: #505050;
    line-height: 1.375;
    font-weight: 500;
  }
}

.main {
  &__skills {
    text-align: center;
  }
}

.skills {
  &__line {
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 18.5%;
      height: 1px;
      background-color: #262626;
      position: absolute;
      top: 50%;
    }
    &::after {
      content: "";
      width: 18.5%;
      height: 1px;
      background-color: #262626;
      position: absolute;
      top: 50%;
      left: 31.5%;
    }
  }
  &__title {
    padding: 90px 0 50px 0;
    font-size: 30px;
    color: #262626;
    font-weight: 700;
    span {
      color: #ff0036;
    }
  }
  &__subtitle {
    font-size: 16px;
    color: #505050;
    font-weight: 700;
    line-height: 1.375;
    text-align: center;
    span {
      color: #ff0036;
    }
  }
  &__progress {
    display: flex;
    justify-content: center;
  }
}
.box {
  flex-basis: 17%;
  padding: 100px 0;
  h2 {
    padding: 25px 0;
    font-size: 20px;
    font-family: "Raleway";
    color: #262626;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    font-family: "Lato";
    color: #505050;
    font-weight: 500;
  }
}

//============== PROGRESSBAR "OUR_SKILLS" =====================
.container .box {
  width: 25%;
  float: left;
}

.container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.container .box .chart {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  line-height: 150px;
}

.container .box .chart span {
  color: #ff0036;
}
//============================================================

.main {
  &__services {
    padding: 100px 0;
    background: #272727;
    text-align: center;
  }
}
.services {
  &__title {
    margin-bottom: 50px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    span {
      color: #ff0036;
    }
  }
  &__subtitle {
    margin-bottom: 95px;
    font-size: 16px;
    color: #a4a4a4;
    font-weight: bold;
    line-height: 1.375;
    span {
      color: #ff0036;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    :hover .services__item-text,
    :hover .services__item-title path {
      background: #3d2329;
      color: #fff;
      fill: #ff0036;
      transition: 0.3s;
    }
  }
  &__item {
    flex-basis: 48.5%;
  }
  &__item-title {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
    padding-top: 60px;
    font-size: 20px;
    font-family: "Raleway";
    color: #ffffff;
    text-transform: uppercase;
    span {
      padding-left: 35px;
    }
    img {
      position: absolute;
      left: 3.6%;
    }
  }
  &__item-text {
    padding: 30px 35px;
    background: #343434;
    font-size: 16px;
    font-family: "Lato";
    color: #a4a4a4;
    line-height: 1.375;
    text-align: justify;
  }
}

.main {
  &__shop {
    text-align: center;
  }
}
.shop {
  &__line {
    margin-top: -10px;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #ff0036;
      position: absolute;
      top: 45%;
    }
    &::after {
      content: "";
      width: 18.5%;
      height: 2px;
      background-color: #ff0036;
      position: absolute;
      top: 45%;
      left: 31.5%;
    }
  }
  &__dot {
    fill: #ff0036;
  }
  &__title {
    padding: 100px 0 50px 0;
    font-size: 30px;
    color: #262626;
    font-weight: 700;
    span {
      color: #ff0036;
    }
  }
  &__subtitle {
    font-size: 16px;
    color: #505050;
    font-weight: 700;
    line-height: 1.375;
    text-align: center;
    span {
      color: #ff0036;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 23%;
    font-size: 16px;
    font-family: "Lato";
    color: #262626;
    line-height: 3;
    font-weight: 600;
    &:hover .item__link,
    &:hover .item__price {
      background-color: #f50235;
      color: #fff;
      transition: 0.3s;
    }
  }
}
.item {
  &__title {
    background-color: #262626;
    font-size: 20px;
    font-family: "Raleway";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 2;
  }
  &__price {
    background-color: #f2f2f2;
    font-weight: 700;
    line-height: 1.5;
    span {
      font-size: 50px;
    }
  }
  &__cpu {
    border: 1px solid #e7e7e7;
  }
  &__hdd {
    border: 1px solid #e7e7e7;
  }
  &__ram {
    border: 1px solid #e7e7e7;
  }
  &__traffic {
    border: 1px solid #e7e7e7;
  }
  &__connect {
    border: 1px solid #e7e7e7;
  }
  &__ip {
    border: 1px solid #e7e7e7;
  }
  &__btn {
    padding: 20px;
    border: 1px solid #e7e7e7;
  }
  &__link {
    padding: 12px 50px;
    background-color: #262626;
    font-size: 18px;
    font-family: "Raleway";
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
  }
}



// &__line {
//   position: relative;
//   text-align: center;
//   &::before {
//     content: "";
//     width: 18.5%;
//     height: 2px;
//     background-color: #262626;
//     position: absolute;
//     top: 50%;
//   }
//   &::after {
//     content: "";
//     width: 18.5%;
//     height: 2px;
//     background-color: #262626;
//     position: absolute;
//     top: 50%;
//     left: 31.5%;
//   }
// }
